<div class="container ">
    <main class="publicar--empleo">
        <section class="main__form">
            <h2 class="main__form--title">Crear Escenario</h2>

            <form action="#" class="" enctype="multipart/form-data">
                <div class="form-group">
                    <input
                        type="text"
                        name="title"
                        id="title"
                        placeholder="Titulo de publicación"
                        required
                    />
                </div>

                <div class="form-group">
                    <textarea
                        name="description"
                        id="description"
                        placeholder="Describe tu empleo"
                        name="description"
                        required
                    ></textarea>
                </div>

                <div class="form-file">
                    <div class="form-file__action">

                        <input type="file" name="image" id="image" required/>
                    </div>
                    <div class="form-file__result" id="result-image">
                        <img id="img-result" alt=""/>
                    </div>
                </div>

                <div class="container text-center my-3">
                    <div class="btn">
                      <button type="button" class="btn btn-primary btn-lg">Agregar</button>
                      <button type="button" class="btn btn-secondary btn-lg mx-3" onclick="location.href='gestion_escenarios'">Canselar</button>
                    </div>
                  </div>
            </form>
        </section>
    </main>
</div>