<body>
	<header class="header">
		<div class="container">
		<div class="btn-menu">
			<label for="btn-menu">☰</label>
		</div>
			<img src="../assets/unicauca.png" alt="">

			<div class="logo">
				<h1><a routerLink="/home" type="button">INICIO</a></h1>
			</div>
            
			<nav class="login">
				<a routerLink="/home">INICIO SESION</a>
			</nav>

            <nav class="cdu">
				<a routerLink="/home">CENTRO DEPORTIVO UNIVERSITARIO</a>
			</nav>
		</div>
	</header>
	<!--<div class="capa"></div> -->
<!--	--------------->
<input type="checkbox" id="btn-menu">
<div class="container-menu">
	<div class="cont-menu">
        <h1>Bienvenido</h1>
        <h1>ADMINISTRADOR</h1>
		<nav>
			<a routerLink="/reservar_espacios">RESERVAR ESAPCIOS</a>
			<a routerLink="/home">HISTORIAL</a>
			<a routerLink="/home">HORARIOS FIJOS</a>
			<a routerLink="/home">GESTIONAR ESCENARIOS</a>
		</nav>
		<label for="btn-menu">✖️</label>
	</div>
</div>
</body>
