<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet"> 
	<link rel="stylesheet" href="footer.component.css">
</head>
<body>
    <footer>
        <div class="contenedor-footer">
            <div class="conten-foot">
                <h3>Division de la Gestion del Deporte y la Recreacion</h3>
                <h3>Centro Deportivo Universitario</h3>
                <h3>Universidad del Cauca</h3>
                <h3>recredeportes@unicauca.edu.co</h3>
                <h3>Tel: 8209800 ext. 2500-2516</h3>
                <h3>Universidad del Cauca</h3>
            </div>
        </div>
    </footer>
</body>
</html>
