/* footer */

.container-footer{

    position: absolute;
    width: 100%;
    height: auto;
    justify-content: space-evenly;
    margin: auto;
    background: rgb(15, 32, 65);
    padding-top: 10px;
    padding-bottom: 10px;
}

.content-footer{
    color: rgb(255, 255, 255);
    text-align: center;
}