<style>
    .cuerpo {
        background: rgb(210, 210, 210);
    }
</style>

<div class="cuerpo py-5">

    <div class="container w-80 bg-body rounded shadow col-md-7" id="cuerpo">
        <div class="row align-items-stretch">
            <div class="col bg-white px-5 py-3 rounded-end">
                <div class="text-end">
                    <img src="../assets/unicauca.jpg" width="70" alt="">
                </div>

                <h2 class="fw-bold text-center text-black py-0 rgv ">Crear Horario</h2>

                <div class="mb-4">
                    <label for="programaId" class="form-label text-black ">Programa Id</label>
                    <input type="number" class="form-control" name="programaId" id="programaId"
                        [(ngModel)]="opcionSeleccionadoProgId" (change)="capturarProgramaId()">
                </div>

                <div class="mb-4">
                    <label for="estudianteId" class="form-label text-black ">Estudiante Id</label>
                    <input type="number" class="form-control" name="estudianteId" id="estudianteId"
                        [(ngModel)]="opcionSeleccionadoEstudId" (change)="capturarEstudianteId()">
                </div>

                <div class="mb-4">
                    <label for="horarioHoraInicio" class="form-label text-black ">Hora de Inicio</label>
                    <select name="horarioHoraInicio" id="horarioHoraInicio" [(ngModel)]="opcionSeleccionadoInicio"
                        (change)="capturarHoraInicio()" class="form-select text-black"
                        aria-label="Default select example">
                        <option value="" disabled selected>Selecciona una hora</option>
                        <option *ngFor="let dato of listHorasInicio">{{dato}}
                        </option>
                    </select>
                </div>

                <div class="mb-4">
                    <label for="horarioHoraFin" class="form-label text-black ">Hora de Fin</label>
                    <select name="horarioHoraFin" id="horarioHoraFin" [(ngModel)]="opcionSeleccionadoFin"
                        (click)="mostrarHorarioFin()" (change)="capturarHoraFin()" class="form-select text-black"
                        aria-label="Default select example">
                        <option value="" disabled selected>Selecciona una hora</option>
                        <option *ngFor="let dato of listHorasFin">{{dato}}
                        </option>
                    </select>
                </div>

                <div class="">
                    <div class="">
                        <div class="row col-md-12 col-lg-12">
                            <div class="col col-md-6">
                                <label for="fechaInicio" class="form-label text-black ">Fecha de inicio</label>
                                <input class="form-control w-100" type="date" id="fechaInicio" name="fechaInicio"
                                    [(ngModel)]="opcionSeleccionadoInicioDate" (change)="capturarFechasInicio()">
                            </div>

                            <div class="ol col-md-6">
                                <label for="fechaFin" class="form-label text-black ">Fecha de final</label>
                                <input class="form-control w-100" type="date" id="fechaFin" name="fechaFin"
                                    [(ngModel)]="opcionSeleccionadoFinDate" (change)="capturarFechasFin()">
                            </div>
                        </div>
                    </div>
                </div><br>

                <div class="mb-4 ">
                    <label for="dias" class="form-label text-black ">Dias</label>
                    <div class="container text-center">
                        <div class="col col-md-12 col-sm-12 col-1">
                            <div class="form-check form-check-inline" *ngFor="let dias of listDias">
                                <input class="form-check-input" type="checkbox" [(ngModel)]="dias.checked" />
                                <label class="text-black">{{dias.nombre}}</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container w-100 my-5">
                    <div class="row">
                        <div class="col">
                            <button type="submit" name="guardar" id="guardar" class="btn btn-primary w-100 my-1"
                                (click)="createHorario()">
                                <div class="row align-items-center">
                                    <div class="col-12 text-center">
                                        Agregar
                                    </div>
                                </div>
                            </button>
                        </div>

                        <div class="col">
                            <button type="button" type="submit" class="btn btn-danger w-100 my-1"
                                onclick="location.href='calendario'">
                                <div class="row align-items-center">
                                    <div class="col-12 text-center">
                                        Cancelar
                                    </div>
                                </div>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><br>
</div>