<!--Creacion de Tabla-->
<div class="container ">
    <div Class="table-responsive" class="text-center">
        <!--<caption class="text-center">Gestionar Escenarios</caption>-->
        <br>

        <div class="row vh 100 justify-content-around align-items-center">
            <div class="col-sm-6 rounded justify-content-center table-bordered div_caption">
                <h2 class="text-center font-weight text-white">Gestionar escenarios</h2>
            </div>
            <div class="col-sm-2 ">
                <button type="button" href="formCrearGestEsce"
                    class="btn_nuevoEscenario text-white font-weight rounded">Nuevo escenario</button>
            </div>
        </div>
        <br>
        <table class="table table-responsive table-bordered table-hover">
            <!--Divisiones-->
            <thead>
                <tr class=" tr_thead  text-white font-weight ">
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th>Imagen</th>
                    <th>Estado</th>
                    <th>Actualizar</th>
                </tr>
            </thead>
            <!--Contenido-->
            <tbody>
                <tr class="text-weight">
                    <td>Cancha 1</td>
                    <td>cancha sintética 1</td>
                    <td><img src="../assets/futsal.jpg" alt=""></td>
                    <td>habilitado</td>
                    <td>
                        <a href="form_gestion_escenarios" class="btn btn_editar text-white font-weight rounded" role="button" aria-disabled="true">Editar</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>