<div class="container">
  <br />
  <div class="table-responsive">
    <h1 class="text-center text-dark">Calendario</h1>
    <table border="1" class="table table-bordered text-center">
      <!--Divisiones-->
      <thead>
        <!--<tr>Calendario</tr>-->
        <tr class="filaPrincipal">
          <th>Horas</th>
          <th>Lunes</th>
          <th>Martes</th>
          <th>Miércoles</th>
          <th>Jueves</th>
          <th>Viernes</th>
          <th>Sábado</th>
          <th>Domingo</th>
        </tr>
      </thead>
      <!--Contenido-->
      <tbody>
        <tr>
          <th>5:00 - 6:00</th>
          <td #celda id="lunes5" class="lunes"></td>
          <td #celda id="martes5" class="martes"></td>
          <td #celda id="miercoles5" class="miercoles"></td>
          <td #celda id="jueves5" class="jueves"></td>
          <td #celda id="viernes5" class="viernes"></td>
          <td #celda id="sabado5" class="sabado"></td>
          <td #celda id="domingo5" class="domingo"></td>
        </tr>
        <tr>
          <th>6:00 - 7:00</th>
          <td #celda id="lunes6" class="lunes"></td>
          <td #celda id="martes6" class="martes"></td>
          <td #celda id="miercoles6" class="miercoles"></td>
          <td #celda id="jueves6" class="jueves"></td>
          <td #celda id="viernes6" class="viernes"></td>
          <td #celda id="sabado6" class="sabado"></td>
          <td #celda id="domingo6" class="domingo"></td>
        </tr>
        <tr>
          <th>7:00 - 8:00</th>
          <td #celda id="lunes7" class="lunes"></td>
          <td #celda id="martes7" class="martes"></td>
          <td #celda id="miercoles7" class="miercoles"></td>
          <td #celda id="jueves7" class="jueves"></td>
          <td #celda id="viernes7" class="viernes"></td>
          <td #celda id="sabado7" class="sabado"></td>
          <td #celda id="domingo7" class="domingo"></td>
        </tr>
        <tr>
          <th>8:00 - 9:00</th>
          <td #celda id="lunes8" class="lunes"></td>
          <td #celda id="martes8" class="martes"></td>
          <td #celda id="miercoles8" class="miercoles"></td>
          <td #celda id="jueves8" class="jueves"></td>
          <td #celda id="viernes8" class="viernes"></td>
          <td #celda id="sabado8" class="sabado"></td>
          <td #celda id="domingo8" class="domingo"></td>
        </tr>
        <tr>
          <th>9:00 - 10:00</th>
          <td #celda id="lunes9" class="lunes"></td>
          <td #celda id="martes9" class="martes"></td>
          <td #celda id="miercoles9" class="miercoles"></td>
          <td #celda id="jueves9" class="jueves"></td>
          <td #celda id="viernes9" class="viernes"></td>
          <td #celda id="sabado9" class="sabado"></td>
          <td #celda id="domingo9" class="domingo"></td>
        </tr>
        <tr>
          <th>10:00 - 11:00</th>
          <td #celda id="lunes10" class="lunes"></td>
          <td #celda id="martes10" class="martes"></td>
          <td #celda id="miercoles10" class="miercoles"></td>
          <td #celda id="jueves10" class="jueves"></td>
          <td #celda id="viernes10" class="viernes"></td>
          <td #celda id="sabado10" class="sabado"></td>
          <td #celda id="domingo10" class="domingo"></td>
        </tr>
        <tr>
          <th>11:00 - 12:00</th>
          <td #celda id="lunes11" class="lunes"></td>
          <td #celda id="martes11" class="martes"></td>
          <td #celda id="miercoles11" class="miercoles"></td>
          <td #celda id="jueves11" class="jueves"></td>
          <td #celda id="viernes11" class="viernes"></td>
          <td #celda id="sabado11" class="sabado"></td>
          <td #celda id="domingo11" class="domingo"></td>
        </tr>
        <tr>
          <th>12:00 - 13:00</th>
          <td #celda id="lunes12" class="lunes"></td>
          <td #celda id="martes12" class="martes"></td>
          <td #celda id="miercoles12" class="miercoles"></td>
          <td #celda id="jueves12" class="jueves"></td>
          <td #celda id="viernes12" class="viernes"></td>
          <td #celda id="sabado12" class="sabado"></td>
          <td #celda id="domingo12" class="domingo"></td>
        </tr>
        <tr>
          <th>13:00 - 14:00</th>
          <td #celda id="lunes13" class="lunes"></td>
          <td #celda id="martes13" class="martes"></td>
          <td #celda id="miercoles13" class="miercoles"></td>
          <td #celda id="jueves13" class="jueves"></td>
          <td #celda id="viernes13" class="viernes"></td>
          <td #celda id="sabado13" class="sabado"></td>
          <td #celda id="domingo13" class="domingo"></td>
        </tr>
        <!---->
        <tr>
          <th>14:00 - 15:00</th>
          <td #celda id="lunes14" class="lunes"></td>
          <td #celda id="martes14" class="martes"></td>
          <td #celda id="miercoles14" class="miercoles"></td>
          <td #celda id="jueves14" class="jueves"></td>
          <td #celda id="viernes14" class="viernes"></td>
          <td #celda id="sabado14" class="sabado"></td>
          <td #celda id="domingo14" class="domingo"></td>
        </tr>
        <tr>
          <th>15:00 - 16:00</th>
          <td #celda id="lunes15" class="lunes"></td>
          <td #celda id="martes15" class="martes"></td>
          <td #celda id="miercoles15" class="miercoles"></td>
          <td #celda id="jueves15" class="jueves"></td>
          <td #celda id="viernes15" class="viernes"></td>
          <td #celda id="sabado15" class="sabado"></td>
          <td #celda id="domingo15" class="domingo"></td>
        </tr>
        <tr>
          <th>16:00 - 17:00</th>
          <td #celda id="lunes16" class="lunes"></td>
          <td #celda id="martes16" class="martes"></td>
          <td #celda id="miercoles16" class="miercoles"></td>
          <td #celda id="jueves16" class="jueves"></td>
          <td #celda id="viernes16" class="viernes"></td>
          <td #celda id="sabado16" class="sabado"></td>
          <td #celda id="domingo16" class="domingo"></td>
        </tr>
        <tr>
          <th>17:00 - 18:00</th>
          <td #celda id="lunes17" class="lunes"></td>
          <td #celda id="martes17" class="martes"></td>
          <td #celda id="miercoles17" class="miercoles"></td>
          <td #celda id="jueves17" class="jueves"></td>
          <td #celda id="viernes17" class="viernes"></td>
          <td #celda id="sabado17" class="sabado"></td>
          <td #celda id="domingo17" class="domingo"></td>
        </tr>
        <tr>
          <th>18:00 - 19:00</th>
          <td #celda id="lunes18" class="lunes"></td>
          <td #celda #martes18 id="martes18" class="martes"></td>
          <td #celda id="miercoles18" class="miercoles"></td>
          <td #celda id="jueves18" class="jueves"></td>
          <td #celda id="viernes18" class="viernes"></td>
          <td #celda id="sabado18" class="sabado"></td>
          <td #celda id="domingo18" class="domingo"></td>
        </tr>
        <tr>
          <th>19:00 - 20:00</th>
          <td #celda id="lunes19" class="lunes"></td>
          <td #celda id="martes19" class="martes"></td>
          <td #celda id="miercoles19" class="miercoles"></td>
          <td #celda id="jueves19" class="jueves"></td>
          <td #celda id="viernes19" class="viernes"></td>
          <td #celda id="sabado19" class="sabado"></td>
          <td #celda id="domingo19" class="domingo"></td>
        </tr>
        <tr>
          <th>20:00 - 21:00</th>
          <td #celda id="lunes20" class="lunes"></td>
          <td #celda id="martes20" class="martes"></td>
          <td #celda id="miercoles20" class="miercoles"></td>
          <td #celda id="jueves20" class="jueves"></td>
          <td #celda id="viernes20" class="viernes"></td>
          <td #celda id="sabado20" class="sabado"></td>
          <td #celda id="domingo20" class="domingo"></td>
        </tr>
        <tr>
          <th>21:00 - 22:00</th>
          <td #celda id="lunes21" class="lunes"></td>
          <td #celda id="martes21" class="martes"></td>
          <td #celda id="miercoles21" class="miercoles"></td>
          <td #celda id="jueves21" class="jueves"></td>
          <td #celda id="viernes21" class="viernes"></td>
          <td #celda id="sabado21" class="sabado"></td>
          <td #celda id="domingo21" class="domingo"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="container text-center my-3">
  <div class="btn">
    <button type="button" class="btn btn-primary btn-sm" onclick="location.href='form_agregar_horario'">Agregar</button>
    <button type="button" class="btn btn-secondary btn-sm mx-3">Editar</button>
    <button type="button" class="btn btn-secondary btn-sm">Eliminar</button>
  </div>
</div>


<!--<div class="wrapper">

  <div class="block">
    <label #asTitle id="title">{{texto}}</label>
  </div>
</div>

<button class="btn btn-primary" (click)="change()">prueba</button>-->


