<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <title>Gestion Escenarios</title>
  <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
  <link rel="stylesheet" href="calendario.component.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
  </script>
</head>
<!--ETIQUETA DE CONTENIDO O DE CUERPO-->

<body>
  <!--Creacion de Tabla-->
  <div class="container"><br><br>
    <div class="table-responsive">
      <h1 class="text-center">Calendario</h1>
      <table border="1" class="table table-bordered text-center">
        
        <!--Divisiones-->
        <thead> 
          
          <!--<tr>Calendario</tr>-->
          <tr class="filaPrincipal">
            <th>Horas</th>
            <th>Lunes</th>
            <th>Martes</th>
            <th>Miércoles</th>
            <th>Jueves</th>
            <th>Viernes</th>
            <th>Sábado</th>
            <th>Domingo</th>
          </tr>
        </thead>
        <!--Contenido-->
        <tbody>
          <tr>
            <th>06:00 - 08:00</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th>08:00 - 10:00</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th>10:00 - 12:00</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th>12:00 - 14:00</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th>14:00 - 16:00</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th>16:00 - 18:00</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th>18:00 - 20:00</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th>20:00 - 22:00</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="container btn btn-group mx-5">
    <div class="escenario">
      <label class="label-for">Escenario:</label>
      <select name="opcion_escenario">
        <option value="value1" selected></option>
        <option value="value2">Coliseo</option>
        <option value="value3">Canchas Multifuncionales 1</option>
        <option value="value4">Canchas Multifuncionales 2</option>
        <option value="value5">Canchas Multifuncionales 3</option>
        <option value="value6">Canchas Multifuncionales 4</option>
        <option value="value7">Canchas Multifuncionales 5</option>
        <option value="value8">Patinaje</option>
        <option value="value9">Piscina</option>
        <option value="value10">Cancha Futbol 11</option>
      </select>
    </div>
    <div class="dias btn btn-group">
      <label class="">Días:</label>
      <div class="">
        <input type="checkbox" id="l">
        <label class="" for="l">L</label>
      </div>
      <div class="">
        <input type="checkbox" id="mi">
        <label class="" for="mi">M</label>
      </div>
      <div class="">
        <input type="checkbox" id="m">
        <label class="" for="m">MI</label>
      </div>
      <div class="">
        <input type="checkbox" id="j">
        <label class="" for="j">J</label>
      </div>
      <div class="">
        <input type="checkbox" id="v">
        <label class="" for="v">V</label>
      </div>
      <div class="">
        <input type="checkbox" id="s">
        <label class="" for="s">S</label>
      </div>
      <div class="">
        <input type="checkbox" id="d">
        <label class="" for="d">D</label>
      </div>
    </div>
    <div class="btn btn-group">
      <label class="">Desde:</label>
      <select name="opcion_horario">
        <option value="value1" selected></option>
        <option value="value2">06:00 - 08:00</option>
        <option value="value3">08:00 - 10:00</option>
        <option value="value4">10:00 - 12:00</option>
        <option value="value5">12:00 - 14:00</option>
        <option value="value6">14:00 - 16:00</option>
        <option value="value7">16:00 - 18:00</option>
        <option value="value8">18:00 - 20:00</option>
        <option value="value9">20:00 - 22:00</option>
      </select>
    </div>
    <div>
      <button id="btnReservar">Reservar</button>
    </div>
  </div>
</body>

</html>
