<div class="container "><br>
  <div class="table-responsive">
    <h1 class="text-center text-dark">Calendario</h1>
    <table border="1" class="table table-bordered text-center">

      <!--Divisiones-->
      <thead>

        <!--<tr>Calendario</tr>-->
        <tr class="filaPrincipal">
          <th>Horas</th>
          <th>Lunes</th>
          <th>Martes</th>
          <th>Miércoles</th>
          <th>Jueves</th>
          <th>Viernes</th>
          <th>Sábado</th>
          <th>Domingo</th>
        </tr>
      </thead>
      <!--Contenido-->
      <tbody>
        <tr>
          <th>06:00 - 08:00</th>
          <td id="celda_lunes1" class = "lunes"></td>
          <td id="celda_martes1" class = "martes"></td>
          <td id="celda_miercoles1" class = "martes"></td>
          <td id="celda_jueves1" class = "martes"></td>
          <td id="celda_viernes1" class = "martes"></td>
          <td id="celda_sabado1" class = "martes"></td>
          <td id="celda_domingo1" class = "martes"></td>
        </tr>
        <tr>
          <th>08:00 - 10:00</th>
          <td id="celda_lunes2" class = "lunes"></td>
          <td id="celda_martes2" class = "martes"></td>
          <td id="celda_miercoles2" class = "martes"></td>
          <td id="celda_jueves2" class = "martes"></td>
          <td id="celda_viernes2" class = "martes"></td>
          <td id="celda_sabado2" class = "martes"></td>
          <td id="celda_domingo2" class = "martes"></td>
        </tr>
        <tr>
          <th>10:00 - 12:00</th>
          <td id="celda_lunes3" class = "lunes"></td>
          <td id="celda_martes3" class = "martes"></td>
          <td id="celda_miercoles3" class = "martes"></td>
          <td id="celda_jueves3" class = "martes"></td>
          <td id="celda_viernes3" class = "martes"></td>
          <td id="celda_sabado3" class = "martes"></td>
          <td id="celda_domingo3" class = "martes"></td>
        </tr>
        <tr>
          <th>12:00 - 14:00</th>
          <td id="celda_lunes4" class = "lunes"></td>
          <td id="celda_martes4" class = "martes"></td>
          <td id="celda_miercoles4" class = "martes"></td>
          <td id="celda_jueves4" class = "martes"></td>
          <td id="celda_viernes4" class = "martes"></td>
          <td id="celda_sabado4" class = "martes"></td>
          <td id="celda_domingo4" class = "martes"></td>
        </tr>
        <tr>
          <th>14:00 - 16:00</th>
          <td id="celda_lunes5" class = "lunes"></td>
          <td id="celda_martes5" class = "martes"></td>
          <td id="celda_miercoles5" class = "martes"></td>
          <td id="celda_jueves5" class = "martes"></td>
          <td id="celda_viernes5" class = "martes"></td>
          <td id="celda_sabado5" class = "martes"></td>
          <td id="celda_domingo5" class = "martes"></td>
        </tr>
        <tr>
          <th>16:00 - 18:00</th>
          <td id="celda_lunes6" class = "lunes"></td>
          <td id="celda_martes6" class = "martes"></td>
          <td id="celda_miercoles6" class = "martes"></td>
          <td id="celda_jueves6" class = "martes"></td>
          <td id="celda_viernes6" class = "martes"></td>
          <td id="celda_sabado6" class = "martes"></td>
          <td id="celda_domingo6" class = "martes"></td>
        </tr>
        <tr>
          <th>18:00 - 20:00</th>
          <td id="celda_lunes7" class = "lunes"></td>
          <td id="celda_martes7" class = "martes"></td>
          <td id="celda_miercoles7" class = "martes"></td>
          <td id="celda_jueves7" class = "martes"></td>
          <td id="celda_viernes7" class = "martes"></td>
          <td id="celda_sabado7" class = "martes"></td>
          <td id="celda_domingo7" class = "martes"></td>
        </tr>
        <tr>
          <th>20:00 - 22:00</th>
          <td id="celda_lunes8" class = "lunes"></td>
          <td id="celda_martes8" class = "martes"></td>
          <td id="celda_miercoles8" class = "martes"></td>
          <td id="celda_jueves8" class = "martes"></td>
          <td id="celda_viernes8" class = "martes"></td>
          <td id="celda_sabado8" class = "martes"></td>
          <td id="celda_domingo8" class = "martes"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="container text-center">
  <div class="row col-12">
    <div class="col col-md-6 col-12">
      <div class="row btn btn-group">
        <div class="col-12">
          <label>Dias:</label>
        </div>
        <div class="col-12">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
            <label class="form-check-label" for="inlineCheckbox1">L</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
            <label class="form-check-label" for="inlineCheckbox2">M</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
            <label class="form-check-label" for="inlineCheckbox1">M</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
            <label class="form-check-label" for="inlineCheckbox2">J</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
            <label class="form-check-label" for="inlineCheckbox1">V</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
            <label class="form-check-label" for="inlineCheckbox2">S</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
            <label class="form-check-label" for="inlineCheckbox1">D</label>
          </div>
      
        </div>
      </div>
    </div>
    <div class="col col-md-2 col-12 mx-md-2">
      <div class="row my-4 ancho">
        <select class="form-select" aria-label="Default select example">
          <option  selected>Desde</option>
          <option *ngFor="let item of listHoras" value="1">{{item}}:00</option>
        </select>
      </div>
      
    </div>
    <div class="col col-md-2 col-12">
      <div class="row my-4 ancho">
        <select class="form-select" aria-label="Default select example">
          <option selected>Hasta</option>
          <option *ngFor="let item of listHoras" value="1">{{item}}:00</option>
        </select>
      </div>
      
    </div>
  </div>
</div>

<div class="container text-center my-3">
  <div class="btn">
    <button type="button" class="btn btn-primary btn-sm">Agregar</button>
    <button type="button" class="btn btn-secondary btn-sm mx-3">Editar</button>
    <button type="button" class="btn btn-secondary btn-sm">Eliminar</button>
  </div>
</div>


<form name=fcolor>
<h3>Nombre de celda:</h3> 
<input type=text name=celda size=8 placeholder="martes4">
<h3>Color RGB:</h3> 
<input type=text name=micolor size=8 placeholder="#66ff33">
<br>
<input type=button value="Cambiar color" onclick="cambia_color()">
</form>

