<main>   
    <h2 class="titulo1">Eventos</h2>
        <div class="contenedor-eventos">
            <div class="box">
                <img src="../assets/futsal.jpg" alt="Futsal">
                <span>Futsal</span>
            </div>

            <div class="box">
                <img src="../assets/baloncesto.jpg" alt="Baloncesto">
                <span>Baloncesto</span>
            </div>

            <div class="box">
                <img src="../assets/futbol.jpg" alt="Futbol">
                <span>Futbol</span>
            </div>

            <div class="box">
                <img src="../assets/natacion.jpg" alt="Natacion">
                <span>Natacion</span>
            </div>

            <div class="box">
                <img src="../assets/tenis.jpg" alt="Tenis">
                <span>Tenis</span>
            </div>
        </div>

    <h2 class="titulo">Noticias</h2>
    <div class="contenedor-noticias">
        <div class="cards">
            <img src="../assets/images/espacios_cdu/imagenPrueba.png" alt="Noticia 1">
            <h4>Noticia 1</h4>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                Odit amet consectetur non id facere. 
                Excepturi ad error ex magnam ducimus unde esse fugit a at totam iure enim, 
                ut quibusdam.
            </p>
        </div>

        <div class="cards">
            <img src="../assets/images/espacios_cdu/imagenPrueba.png" alt="Noticia 2">
            <h4>Noticia 2</h4>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                Odit amet consectetur non id facere. 
                Excepturi ad error ex magnam ducimus unde esse fugit a at totam iure enim, 
                ut quibusdam.
            </p>
        </div>

        <div class="cards">
            <img src="../assets/images/espacios_cdu/imagenPrueba.png" alt="Noticia 3">
            <h4>Noticia 3</h4>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                Odit amet consectetur non id facere. 
                Excepturi ad error ex magnam ducimus unde esse fugit a at totam iure enim, 
                ut quibusdam.
            </p>
        </div>
    </div>
</main>
